<link rel="stylesheet" href="style.css" />
<a href="/index">Back</a>
<a href="/south_carolina">South Carolina newss</a>
<div class="new1">37 babies rescued from trafficking</div>
<div class="new2">Man falls from one cruise ship, is rescued by another</div>
<div class="new3">See tourist's scary run-in with elephant</div>
<div class="new4">Fans melt down over Cadbury Creme Egg change</div>

<!-- ..................continue -->